models/vosk-model-small-en-us-0.15/
models/vosk-model-small-hi-0.22/
vosk-model-en.zip
vosk-model-hi.zip
data/application_record.csv
data/credit_record.csv
text_generator_model.h5
notebook/
__pycache__/
**/__pycache__/
*.pyc
*.db
.ipynb_checkpoints/