# Data Processing & Analysis
numpy
pandas

# Machine Learning & Modeling
joblib
scikit-learn
xgboost
imbalanced-learn
gensim

# Visualization
plotly

# Web Framework
streamlit

# Text & Voice Processing
gtts

# PDF & Reporting
reportlab